.gameBoardCell {
    background-color: #78bec5;
    border-radius: 14px;
    cursor: pointer;
    color: #fff;
    margin: 5px;
    transition: background-color 0.3s;
    border: none;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}

.gameBoardPlayer1Cell {
    background-color: #dc685a;
}

.gameBoardPlayer2Cell {
    background-color: #ecaf4f;
}