.gameBoard {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;
}

.gameMessage {
    padding: 20px;
    text-align: center;
}

.gameMessage > div {
    background: #9E9E9E;
    display: inline-block;
    padding: 1% 10%;
    color: white;
    font-weight: bold;
    height: 22px;
}

.resetButtonContainer {
    text-align: center;
}

.resetButtonContainer > button {
    padding: 15px 30px 10px;
    border: none;
    background-color: #F44336;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}