.AppHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #E91E63;
    padding: 19px;
    font-weight: bold;
}

.App {
    height: 100vh;
    background-color: #eaeaea;
}